.App {
  text-align: center;
  background-color: #FFFAF0;
}

/*.App-logo {*/
  /*animation: App-logo-spin infinite 20s linear;*/
  /*height: 80px;*/
/*}*/

.App-header {
  color: #FF6600;
  background-color: #FFFAF0;
  width: 100%;
  height: 130px;
  padding: 50px 0;
}

.App-intro {
  font-size: large;
}

.videoChan {
  max-width:430px;
  max-height:430px;
  height:auto;
}

.wrapper {
  display: grid;
  grid-template-columns: 470px 470px 470px;
  grid-gap: 10px;
  background-color: #F0FFFF;
  color: #444;
  width: 75%;
  margin: 0 auto;
}

.box {
  background-color: #FFEBCD;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.box:hover .image {
  opacity: 0.3;
}

.box:hover .middle {
  opacity: 1;
}

.text {
  background-color: #F5F5DC;
  color: #797FA1;
  font-size: 16px;
  padding: 16px 32px;
}

#formInput {
  height: 25px;
  width: 20%;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  margin-left: 10px;
  background-color: #F5F5DC;
  color: #0E132F;
  font-weight: 900;
}

#formInput::-webkit-input-placeholder {
  color: #0E132F;
}

#formButton {
  margin-left: 15px;
  width: 5%;
  height: 35px;
  color: #8388A1;
  font-size: 15px;
  font-weight: 700;
  background-color: #F5F5DC;
  border: none;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease;
}

#formButton:hover {
  /*background: rgba(0,0,0,0);*/
  color: #F5F5DC;
  box-shadow: inset 0 0 0 3px #DEB887;
}
